/********** Base styles **********/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

/* Header */

.navbar-default {
    background-color: rgb(167, 167, 173);
    border: 1px solid; 
    border-radius: 0px;   
}

@media (max-width: 768px) { 
    #collapsable-nav {
        background-color: lightgray; 
        border: 1px solid; 
    }
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black
}


#brand-name {
    font-size: 1.5em;
} 

#l1, #l2, #l3 {
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-color: black;
    vertical-align: middle;
}   

#l1, #l2 {
    border-bottom: 1px solid;
}

#l2 {
    padding: 15px 0px 15px 0px;
}

#l3 {
    margin: 8px 0px 0px -4px;
}

/* Main Page */

#page-heading {
    text-align: center;
    margin: 10px 0px 30px 0px;
}

#text-heading {
    font-size: 1.4em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tall-section {
    position: absolute;
    height: 1500px;
    background-color: lightgrey;
    margin: 0px 10px;
    padding: 0px 10px;
}


